* {
    box-sizing: border-box;
}

html {
    min-width: 1024px;
}

body {
    width: 100%;
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333333;
    font-size: 16px;
    line-height: 1.5;
}

pre, input, select, textarea {
    font-family: consolas, Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}

a.fullsizelink {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1012px;
    margin: 0 auto;
}

.clear::after {
    content: "";
    display: block;
    float: none;
    clear: both;
}

.column {
    box-sizing: border-box;
}

.btn {
    position: relative;
    cursor: pointer;
    line-height: 1.4;
    display: inline-block;
    padding: 6px 10px;
    white-space: nowrap;
    border-radius: 4px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid #4893ff;
    background-color: transparent;
    color: #4893FF;
    transition: all 0.3s;
}

.btn.solid {
    border: 2px solid #4893ff;
    background-color: #4893ff;
    color: #fff;
}

.btn:hover {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.action .btn {
    font-size: 18px;
    padding: 10px 26px;
    margin-right: 24px;
}

.shadow {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.0855);
    transition: .3s all;
}

.shadow:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.section {
    width: 100%;
    padding: 40px 0;
    background: #F6F9FC;
}

strong {
    color: #35AFFB;
}

.section.white-bg {
    background: #fff;
}

.section.gray-bg {
    background: #f0f0f0;
}

.section .chtitle {
    font-size: 24px;
    margin: 0;
    margin-bottom: 40px;
}

.inmini .header, .inmini .footer {
    display: none;
}

.header {
    background: #fff;
    padding: 20px 0 22px;
    border-bottom: 1px solid #eee;
}

.header .logo {
    float: left;
    line-height: 0;
}

.header .logo img {
    height: 42px;
}

.header .nav {
    float: right;
    list-style: none;
    margin: 0;
    line-height: 0;
}

.header .main-nav {
    float: left;
    margin-left: 24px;
}

.header .nav .more {
    float: left;
    margin-right: 24px;
}

.header .nav a {
    color: inherit;
    display: inline-block;
}

.header .nav li {
    float: left;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 6px;
    font-weight: bold;
    color: #444;
    line-height: 22px;
}

.header .nav li:hover {
    background-color: #fff;
}

.header .nav li.app {
    background-color: #efefef;
}

.intro {
    padding-top: 0;
    padding-bottom: 60px;
}

.intro h1 {
    font-size: 42px;
}

.intro p {
    font-size: 16px;
    line-height: 28px;
    color: #444;
}

.intro .hello {
    padding: 15px 0;
}

.intro .hello p {
    font-size: 20px;
}

.footer .line {
    padding: 16px 0;
}

.footer .line h3 {
    padding-bottom: 10px;
}

.footer ul li {
    list-style: none;
    float: left;
    padding-right: 30px;
}

.footer a {
    color: inherit;
    text-decoration: none;
    transition: .3s all;
}

.footer a:hover {
    color: #3A88FD;
}

.footer .copyright {
    color: #aaa;
    font-size: 12px;
}

.footer .copyright span {
    padding-right: 10px;
}


a.btn.product {
    line-height: 36px;
    vertical-align: middle;
    font-size: 18px;
    padding: 4px 12px;
    transition: .3s all;
    max-width: 300px;
    overflow: hidden;
}

a.btn.product.unable {
    opacity: .3;
    max-width: 0;
    padding: 6px 0px;
    border: 0;
    margin-right: 0 !important;
}

a.btn.product:before {
    content: "";
    float: left;
    margin-right: 6px;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px;
    margin-top: 3px;
}

a.btn.std {
    color: #0DAFFF;
    border-color: #0DAFFF;
}

a.btn.product.std:before {
    background-image: url("/img/product/product-std.png");
}

a.btn.premier {
    color: #d67735;
    border-color: #ffa669;
}

a.btn.product.premier:before {
    background-image: url("/img/product/product-prime.png");
}

a.btn.mini {
    color: #6761A3;
    border-color: #6761A3;
}

a.btn.product.mini:before {
    background-image: url("/img/product/product-mini.png");
}

a.btn.wechat {
    color: #4EB027;
    border-color: #4EB027;
}

a.btn.product.wechat:before {
    background-image: url("/img/product/product-wechat.png");
}

a.btn.product.enterprise:before {
    background-image: url("/img/product/product-enterprise.png");
}

.fbox {
    display: flex;
}

.events {
}

.events a {
    color: inherit;
    text-decoration: none;
}

.events .event {
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 12px;
}

.events .event .event-poster {
    width: 100%;
    height: auto;
    display: block;
}

.events .event .content {
    box-sizing: border-box;
    padding: 14px 20px;
}

.events .event h4 {
    margin: 0;
    font-size: 16px;
    line-height: 28px;
}

.events .event ul li {
    list-style: none;
    float: left;
    line-height: 17px;
    padding-right: 16px;
    color: #666;
}

.events .event .meta {
    margin-top: 6px;
    font-size: 14px;
}

.events .event .icon {
    float: left;
    margin-right: 4px;
    width: 16px;
    height: 16px;
}

.events .more-events {
    display: block;
    height: 50px;
    line-height: 50px;
    color: #666;
    width: 100%;
    text-align: center;
    background-color: #ededed;
    border-radius: 6px;
    transition: .3s all;
    margin-top: 12px;
}

.events .more-events:hover {
    color: #282828;
}

.logowall {
    text-align: center;
}

.logowall * {
    box-sizing: border-box;
}

.logowall .column {
    text-align: left;
    padding: 0 7px;
}

.logowall .column img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    html {
        min-width: 0;
    }

    .header {
        height: auto;
    }

    .header .nav {
        font-size: 12px;
    }

    .header .logo img {
        height: 42px;
        margin-top: 5px;
    }

    .section .chtitle {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .intro h1 {
        margin-top: 0;
    }

    .header .more {
        display: none;
    }

    .section {
        padding: 20px 0;
    }

    .container {
        width: 100%;
        padding: 0 4%;
    }

    .footer .line {
        padding: 0;
        width: 50%;
        float: left;
    }

    .footer .copyright {
        float: none;
        width: 100%;
        margin-top: 30px;
    }

    .footer ul li {
        float: none;
        padding-right: 0;
        padding: 5px 0;
        margin-bottom: 6px;
    }
}


.dropdown {
    display: inline-flex;
    position: relative;
    vertical-align: top;
}

.dropdown.is-active .dropdown-menu, .dropdown.is-hoverable:hover .dropdown-menu {
    display: block;
}

.dropdown.is-right .dropdown-menu {
    left: auto;
    right: 0;
}

.dropdown.is-up .dropdown-menu {
    bottom: 100%;
    padding-bottom: 4px;
    padding-top: unset;
    top: auto;
}

.dropdown-menu {
    display: none;
    left: 0;
    min-width: 100px;
    padding-top: 4px;
    position: absolute;
    top: 32px;
    line-height: 0;
    z-index: 20;
}

.dropdown-content {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(51, 51, 51, 0.1), 0 0 0 1px rgba(51, 51, 51, 0.1);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.dropdown-item {
    color: #666;
    display: block;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 0.375rem 1rem;
    position: relative;
}

a.dropdown-item {
    padding-right: 3rem;
    white-space: nowrap;
    text-decoration: none;
    width: 100%;
}

a.dropdown-item:hover {
    background-color: #f4f4f4;
    color: #333;
}

a.dropdown-item.is-active {
    background-color: #4893ff;
    color: #fff;
}

.dropdown-divider {
    background-color: #eee;
    border: none;
    display: block;
    height: 1px;
    margin: 0.5rem 0;
}

.is-hoverable {
    cursor: pointer;
}

.is-hoverable > a li:hover {
    background: none !important;
}

.price-box {
    background: #1A8CFF;
    border-radius: 6px;
    color: #fff;
    text-align: center;
}

.price-box .head {
    background: #0066CC;
    height: 54px;
    line-height: 54px;
    color: #fff;
    border-radius: 6px 6px 0 0;
    font-size: 20px;
}

.price-box .body {
    padding: 12px 24px;
}

.price-box .price {
    color: #eee;
    font-size: 22px;
    font-weight: bold;
}

.price-box .value {
    font-size: 40px;
    margin: 0 4px;
    color: #fff;
}

.price-box .btn {
    width: 100%;
    color: #fff;
    line-height: 28px;
    margin: 24px 0 12px;
    border: 2px solid rgba(255, 255, 255, 0.7);
}

.price-box.gray {
    background: #32AAD1;
}

.price-box.gray .head {
    background: #1A95BD;
}

.price-box.yellow {
    background: #DB802E;
}

.price-box.yellow .head {
    background: #C76C1C;
}

.compare .product .promotion, .price-box .promotion {
    margin: 3px 0 6px;
    text-align: center;
}

.compare .product .promotion .money, .price-box .promotion .money {
    text-decoration: line-through;
    font-size: 20px;
}

.compare .product .promotion .discount, .price-box .promotion .discount {
    margin-left: 8px;
    display: inline-block;
    background: #ed4343;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    padding: 2px 6px;
    font-weight: bold;
    vertical-align: top;
    line-height: 20px;
    margin-top: 4px;
}

.price-box .pre-year {
    margin-left: 6px;
}

#ib-content {
    display: none;
}