.why {
}

.why ul {
    padding-left: 14px;
}

.why ul li {
    list-style: none;
    position: relative;
    padding: .5em 0;
    font-size: 16px;
}

.why ul li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -14px;
    display: block;
    width: 4px;
    height: 4px;
    margin-top: -2px;
    border-radius: 100%;
    background-color: #35AFFB;
}

.why .trait h2 {
    font-size: 20px;
    padding: 0;
    display: inline-block;
    line-height: 72px;
    margin: 6px 12px;
    vertical-align: top;
}

.why .learn-more,
.products .learn-more {
    float: right;
    font-size: 16px;
    padding: 6px 12px 5px;
    background: #FFF;
    color: #4893ff;
    border-radius: 4px;
    border: 1px solid;
}

.why .tryout {
    float: right;
    text-decoration: none;
}

.why .tryout .dropdown-menu {
    padding: 10px;
}

.why .tryout .dropdown-menu img {
    width: 170px;
    margin-left: -35px;
    padding: 5px;
    border: 1px solid #eee;
    background: #fff;
}

.products .learn-more img {
    margin-right: 12px;
}

.why .learn-more img {
    margin-right: 7px;
    margin-bottom: -2px;
}

.why ul a {
    color: #35AFFB;
    text-decoration: none;
    font-weight: bold;
}


.inmini .why .tryout {
    display: none;
}

.partners {
}

.partners .fbox {
    align-items: center;
}

.partners .fbox::after {
    content: '';
    flex: auto;
}

.partners .mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .section.products .product {
        margin-bottom: 22px;
    }

    .products .columns {
        margin-bottom: 0;
    }

    .why .trait {
        margin-bottom: 24px;
    }
}

#ib-content {
    z-index: 1000;
    overflow: visible;
    padding: 10px 30px 30px 30px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    color: #FFF;
    background: #4893ff;
}

#ib-content h2 {
    font-size: 2em;
    margin: .5em;
}

#ib-content .ib-message {
    width: 1012px;
    margin: 0 auto;
    text-align: left;
}

#ib-close {
    background: #ccc;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    right: 20px;
    top: 10px;
    opacity: 0.5;
    cursor: pointer;
    color: #555;
    font-size: 24px;
    line-height: 28px;
}

#ib-content p {
    line-height: 2em;
}

.ib-more a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.ib-more {
    text-align: center;
}

.el-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 20px 40px;
    font-size: 14px;
    border-radius: 4px;
}

.el-button--success {
    color: #85ce61;
    background-color: #ffffff;
}

.el-button--success:focus, .el-button--success:hover {
    background: #85ce61;
    border-color: #85ce61;
    color: #fff;
}