<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
    <title>广西珍贵乡土用材树种木材资源信息数据库</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/vendor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/index.css' %}">
</head>
<body>
<div class="header section">
    <div class="container clear" style="height: 60px;">
        <div style="float: left;"><img src="../media/home/img/gxqt.png" alt="木材数据库" width="45px"></div>
        <ul class="nav main-nav clear">
            <div class="more">
                <li style="margin-top:10px; font-size: 30px">广西壮族自治区产品质量检验研究院</li>
            </div>
        </ul>
    </div>
</div>
<div class="section intro">
    <div class="container">
        <div class="hello"><h1>广西珍贵乡土用材树种木材资源信息数据库</h1>
            <p>数据库内容包括20多个木材种类及其特征描述、木材构造特征图片及其文字描述、濒危等级等，另外包括地理信息可视化，在地图上标示了濒危树种的分布。</p></div>
        <div class="action">
            <a class="btn solid" href="/index">进入数据库</a>
            <a class="btn" href="/admin" target="_Blank">管理与维护</a>
            <a class="btn" href="https://vozhuo.pythonanywhere.com/" target="_Blank">木材材种智能识别</a>
        </div>
    </div>
</div>
<div class="section why white-bg">
    <div class="container">
        <h1 class="chtitle">功能特点</h1>
        <div class="columns">
            <div class="column col-md-4 col-12 trait"><img src="../media/home/img/book.png" width="20%" height="20%">
                <h2>内容信息</h2>
                <ul>
                    <li>树种名称包括中文名称、市场名称和拉丁学名</li>
                    <li>另外包括科属名、构造特征、保护等级等详细内容</li>
                    <li>每类木材包含多张切面图</li>
                </ul>
            </div>
            <div class="column col-md-4 col-12 trait"><img src="../media/home/img/map.png" width="20%" height="20%">
                <h2>分布地图</h2>
                <ul>
                    <li>每类木材包含一张分布地图</li>
                    <li>以红色区域标出木材在广西的分布</li>
                    <li>亦包括相应的文字叙述</li>
                </ul>
            </div>
            <div class="column col-md-4 col-12 trait"><img src="../media/home/img/search.png" width="20%" height="20%">
                <h2>搜索筛选</h2>
                <ul>
                    <li>使用不同的属性内容搜索木材种类</li>
                    <li>依照不同的分类标准筛选木材种类</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section events">
    <div class="container"><h1 class="chtitle">图片样例</h1>
        <div class="columns">
            <div class="column col-md-4 col-12">
                <div class="shadow event"><img class="event-poster"
                                               src="../media/home/img/马尾松弦切面图-min.jpg"
                                               alt="马尾松弦切面图">
                    <div class="content"><h4>马尾松弦切面图</h4>
                    </div>
                </div>
            </div>
            <div class="column col-md-4 col-12">
                <div class="shadow event"><img
                        class="event-poster" src="../media/home/img/米老排径切面图-min.jpg"
                        alt="米老排径切面图">
                    <div class="content"><h4>米老排径切面图</h4>
                    </div>
                </div>
            </div>
            <div class="column col-md-4 col-12">
                <div class="shadow event"><img
                        class="event-poster" src="../media/home/img/铁力木横切面图-min.jpg"
                        alt="铁力木横切面图">
                    <div class="content"><h4>铁力木横切面图</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section footer white-bg">
        <div class="container">
            <div class="line copyright">
                <p><span>广西壮族自治区产品质量检验研究院 版权所有</span></p>
                <p><span>@ 2020 技术支持：广西大学 广西珍贵乡土用材树种木材资源信息数据库项目开发组</span></p>
            </div>
        </div>
    </div>
</body>
</html>