<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>广西珍贵乡土用材树种木材资源信息数据库</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.2/theme-chalk/index.css">
    <style>
        .el-header {
            font-size: 40px;
            color: darkblue;
            text-align: center;
            margin: 10px;
        }

        .el-main {
            text-align: center;
            margin: 10px;
        }

        .table-expand label {
            color: black;
        }

        .table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
        }

        sup {
            vertical-align: top;
            position: relative;
            top: -0.5em;
        }
    </style>
</head>
<body>

<el-container id="app">
    <el-header>广西珍贵乡土用材树种木材资源信息数据库</el-header>
    <el-main>
        <el-table :cell-style="{padding:'5px'}" :data="tableData" stripe> {# height="500" #}
            <el-table-column type="expand" align="center" label="展开">
                <template slot-scope="props">
                    <el-form label-position="left" class="table-expand" label-width="110px">
                        <el-form-item label="主要分布：">
                            {% verbatim myblock %}
                                <div>{{ props.row.location }}</div>
                            {% endverbatim myblock %}
                        </el-form-item>
                        <el-form-item label="宏观构造特征：">
                            {% verbatim myblock %}
                                <div>{{ props.row.macro }}</div>
                            {% endverbatim myblock %}
                        </el-form-item>
                        <el-form-item label="微观构造特征：">
                            {% verbatim myblock %}
                                <div>{{ props.row.micro }}</div>
                            {% endverbatim myblock %}
                        </el-form-item>
                        <el-form-item label="木材气干密度：">
                            {% verbatim myblock %}
                                <div>{{ props.row.density }} g/cm<sup>3</sup></div>
                            {% endverbatim myblock %}
                        </el-form-item>
                        <el-divider>木材结构图</el-divider>
                        <el-row>
                            <el-col :span="8">
                                <el-form-item label="横切面图：">
                                    <el-image lazy :src="props.row.cross_img" :preview-src-list="[props.row.cross_img,
                                     props.row.radial_img, props.row.tang_img]"
                                              style="width: 80%; height: 80%"></el-image>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="径切面图：">
                                    <el-image lazy :src="props.row.radial_img" :preview-src-list="[props.row.cross_img,
                                     props.row.radial_img, props.row.tang_img]"
                                              style="width: 80%; height: 80%"></el-image>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="弦切面图：">
                                    <el-image lazy :src="props.row.tang_img" :preview-src-list="[props.row.cross_img,
                                     props.row.radial_img, props.row.tang_img]"
                                              style="width: 80%; height: 80%"></el-image>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                </template>
            </el-table-column>
            <el-table-column width="80" align="center" label="序号" prop="id"></el-table-column>
            <el-table-column align="center" label="类别 (点击展开筛选)" prop="type"
                             :filters="options" :filter-method="filterHandler"></el-table-column>
            <el-table-column align="center" label="拉丁名" prop="latin">
                <template slot-scope="scope">
                    <i v-html='scope.row.latin'></i>
                </template>
            </el-table-column>
            <el-table-column align="center" label="科属名" prop="genus"></el-table-column>
            <el-table-column align="center" label="分布地图" prop="map">
                <template v-slot="scope">
                    <el-image lazy :src="scope.row.map" :preview-src-list="[scope.row.map]"
                              style="width: 25%; height: 25%"></el-image>
                </template>
            </el-table-column>
            <el-table-column class="aa" align="center" label="保护等级" prop="level"></el-table-column>
        </el-table>
    </el-main>
</el-container>

</body>
<!-- import Vue before Element -->
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script>
<!-- import JavaScript -->
<script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.2/index.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                show: false,
                loading: false,

                tableData: [],
                imageData: [],
                options: [],

                media: '/media/',
                database: '/data/',
                imageBase: '/images/',
            };
        },
        created() {
            this.fetchData()
        },
        methods: {
            fetchData() {
                axios.get(this.database).then(res => {
                    res.data.forEach(r => {
                        this.tableData.push({
                            id: r.id,
                            type: r.type,
                            latin: r.latin,
                            level: r.level,
                            genus: r.genus,
                            location: r.location,
                            macro: r.macro,
                            micro: r.micro,
                            density: r.density,
                            map: this.media + r.map,
                            cross_img: this.media + r.cross_img,
                            radial_img: this.media + r.radial_img,
                            tang_img: this.media + r.tang_img,
                        })
                        this.options.push({
                            text: r.type,
                            value: r.id
                        })
                    });
                });
            },
            filterHandler(value, row) {
                return row.id === value;
            },
        }
    })
</script>
</html>